.screenshot {
  width: 100%;
  height: 200px;
  background-size: cover;
  transition: all 200ms ease;
}

.screenshot.terminal {
  transform: scaleX(-1);
  right: 0;
}

.file-input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.file-input + label {
  background-color: #000;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
}

.file-input:focus + label,
.file-input + label:hover {
  background-color: #f15d22;
}

.file-input:focus + label {
  outline: 1px dotted #000;
}
